.h1 {
    background-color: #7f168d;
    text-align: center;
    font-size: 100px;
    font-weight: bold;
}

.p {
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    margin-top: 20px;

}

.p:hover {
    color: blue;
    background-color: tomato;
}

.border-red {
    border: 2px solid red;
    padding: 10px;
}

a:link {
    color: green;
}

a:visited {
    color: blue;
}

a:hover {
    color: violet
}

a:active {
    color: yellow;
}